*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgba(32, 32, 32, 0.527);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;

}

header h1{
    text-decoration: none;
    color: rgb(223, 177, 169);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1px 2px;
    padding-left: 30px;
}
.bar a{

    text-decoration: none;
    color: rgb(223, 177, 169);
    font-size: 15px;
    font-weight: 300;
    padding: 1px 2px;
    padding-left: 30px;
}
.bar a:hover{
    color: rgb(214, 198, 198);
} 
section{
    padding: 100px 200px; 
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(lens3bcg.jpg);
    opacity: 70%;
    background-size: 120%;
    background-position: center;
    background-attachment: fixed;
}

.main h2{

    color: rgb(214, 205, 205);
    font-size: 1.4em;
    font-weight: 500px;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: 800px;

}

.main h3{
    color: #af7571;
    font-size: 1.4em;
    font-weight: 700px;
    letter-spacing: 2.3px;
    margin-top: 10px;
    margin-bottom: 30px;

}

.main h2{
    text-align: left;
    font-size: 18px;
    
}


.bord1 img  {
    width: 250px;
    height: auto;
    align-items: start;
   
}
 
.product {
    width: 300px; 
    margin: 20px auto;
    border: 1px solid #000000;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  }
  
  .product img {
    max-width: 100%;
  }
  
  .rating {
    color: gold;
  }
  
  .price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .buttons button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .details p {
    margin-bottom: 10px;
  }
  
  .options {
    margin-top: 20px;
  }
  
.buttons{
    position: sticky;
    top: 20px;
}

 
  
.buttons-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.buttons-1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
.buttons-1:hover span {
    padding-right: 25px;
  }
  
.buttons-1:hover span:after {
    opacity: 1;
    right: 0;
  }

  .but1 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 1,8;
    outline: transparent;
    padding: 0.1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 1.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    padding-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    transition: 0.7s ease;
}
.but1:hover{
    transform: scale(1.1);
}

.but1:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}


.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
 
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
 
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #ff0000;
}

.button3:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #000000;
}

.button4:hover {
  background-color: #000000;
  color: white;
}



body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}